body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg-purple {
  background-color: #8334c2 !important;
}

.btn-theme {
  position: fixed;
  top: 50%;
  left: 0;
  opacity: 0.5;
  transition: opacity .5s ease;
}

.btn-theme:hover {
  opacity: 1 !important;
}